<div class="widget-wrap">
    <h3 class="widget-title">Links</h3>
    <div class="widget">
	<ul class="entry">
	<li><a href="http://www.youtube.com" title="youtube">youtube.com</a></li>
	</ul>
   </div>
</div>




